*
{
    margin: 0;
    padding: 0;
    
}

html{
    box-sizing: border-box;
    
}
body{
    background-color: white;
}
#main{
    
    height: 700px;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5) ), url(/img/main_image.jpg);
    background-size: cover;
    
   
}

.main_title{
  
   text-align: center;
   position: relative;
   top:60%;
   
 
 
    

    & .slogan{

        color: white;
    }
    &.change{

        color: white;
        margin-bottom: 40px;
    }

    & .btn-full{
    background-color: yellow;
    padding: 10px 25px;
    color: black;
    font-size: 17px;
    margin: 15px;
    border: 1px solid;
    text-decoration: none;
    }

    & .btn-ghost{
        border: 1px solid yellow;
        padding: 10px 25px;
        color: white;
        font-size: 17px;
        text-decoration: none;
    }
}


#container1{
    
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 15px;
  
    
}

.campagne{
    background-image:linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4) ), url(/img/photo\ exposition1.jpg);
    background-size: cover;
    height: 600px;
   
    
}

.campagne_title{
    text-align: center;
    position: relative;
    top:40%;
}

.campagne_titre{
    color: white;
    font-size: 40px;
    margin-bottom: 25px;
}

.campagne_title .btn-one{
    border: 1px solid whitesmoke;
    padding: 10px 25px;
    color: white;
    font-size: 17px;
    text-decoration: none;
}

#container2{
    margin-left: 65px;
    margin-right: 65px;
    margin-top: 15px;
    margin-bottom: 40px;
    
   
}

.telly{
    height:500px ;
    background-image:linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4) ), url(/img/Telly.jpeg);
    background-size: cover;
    background-position: top;
    
 
   
}

.tellyback{
    height: 500px;
    background-color: rgb(238, 238, 84);
    background-attachment: fixed;
}

.telly-title{
    margin: 40px;
}

.telly-button{
        border: 1px solid white;
        padding: 10px 25px;
        color: white;
        font-size: 20px;
        background-color: rgb(139, 38, 34);
        text-decoration: none; 
        
}

.telly-titre{
    margin-bottom: 30px;
}

.telly-phrase{
    margin-bottom: 60px;
    font-size: 20px;
}

#container3{
    margin-top: 100px;
    margin-left: 65px;
    margin-right: 65px;
    margin-bottom: 55px;
   
}

.partenaires_logo{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-attachment: fixed;
   
    
   
}

.partenaires_logo .item{
    width: 90px;
    height: 60px;
    margin: 15px;
}

.partenaires_logo .item:nth-child(16){
    width: 160px;
    height: 80px;
}
.partenaires_logo .item:nth-child(17){
    width: 160px;
    height: 70px;
}

.partenaires_logo .item:nth-child(18){
    width: 160px;
    height: 65px;
}
.partenaires_title{
    margin-bottom: 50px;
    text-transform: uppercase;
}

#start {
    position: relative;
    min-height: 200px;
    background: url('/img/1-successdiverstory-group.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    color: #fff;
}

.icon{
    float: right;
    margin-right: 40px;
    margin-top: 90px;
    font-size: 30px;
    align-content: center;
    color: white;
}